/* APP WRAPPER */
.App {
  padding: 1em;
  width: 80%;
  margin: auto;
  font-family: sans-serif;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .App {
    width: 100%;
  }
}

/* END OF APP WRAPPER */

/* PROFILE STYLES */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profile_img {
  flex: 1 1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  padding: 5px;
  background: #7cb9e8;
}

.profile_img img {
  width: 100%;
  display: block;
  border: 2px solid white;
  border-radius: 50%;
}

.profile {
  font-size: 2em;
  text-align: center;
}

.profile-tagline {
  font-size: 0.9em;
  font-weight: lighter;
  font-style: italic;
}

/* END OF PROFILE STYLES */

/* WORK EXPERIENCE SECTION STYLES */
.work {
  margin: 0;
  padding: 0;
}
.work li {
  list-style: none;
  margin: 0;
  padding: 5px;
  margin-bottom: 1em;
  box-shadow: 0 2px 3px #555, 2px 3px 5px #aeaeae;
}

.work-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2em;
}

.work-title span {
  display: inline-block;
  flex: 1;
  font-size: 0.8em;
}

.work-title span:first-of-type {
  flex: 2;
  font-size: inherit;
}

/* END OF WORK EXPERIENCE SECTION STYLES */

/* PORTFOLIO SECTION STYLES */
.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;

  gap: 2em;
}

.project {
  max-width: 40%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 5px #555;
}

.project-image img {
  width: 100%;
}
/* END OF PORTFOLIO STYLES */
